@(
  data: io.flow.delta.www.lib.UiData,
  project: io.flow.delta.v0.models.Project,
  state: io.flow.delta.v0.models.ProjectState,
  settings: io.flow.delta.v0.models.Settings,
  masterHash: Option[String],
  latestTag: Option[io.flow.delta.v0.models.Tag],
  latestImage: Option[io.flow.delta.v0.models.Image],
  changeEvents: Seq[io.flow.delta.v0.models.Event],
  recentEvents: Seq[io.flow.delta.v0.models.Event]
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some(s"${project.organization.id}/${project.name}"))) {

  <div class="pull-right">
    @if(io.flow.delta.www.lib.Permissions.Project.edit(project, data.user)) {
      <a href="@routes.ProjectsController.edit(project.id)">Edit</a>
    }
    @if(io.flow.delta.www.lib.Permissions.Project.delete(project, data.user)) {
      | <a class="delete" data-confirm="Are you sure?" href="@routes.ProjectsController.postDelete(project.id)">Delete</a>
    }

  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Current State</th>
          <th>Target State</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@stateTable(state.actual)</td>
          <td>@stateTable(state.expected)</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ul>
    <li>Latest Image:
      @if(latestImage.isEmpty) {
        -
      } else {
        @latestImage.get.name:@latestImage.get.version
      }
    </li>
    <li>Latest Tag:
      @if(latestTag.isEmpty) {
        -
      } else {
      @latestTag.get.name
        @if(latestTag.map(_.hash) == masterHash) {
          [master]
        } else {
          [@latestTag.get.hash]
        }
      }
    </li>
    <li> Latest event at: @if(recentEvents.headOption.isEmpty) {
           -
         } else {
           @io.flow.play.util.DateHelper.consoleLongDateTime(recentEvents.head.createdAt)
         }
    </li>
    <li> Master: @masterHash.getOrElse("-")</li>
    <li> Visbility: @project.visibility.toString</li>
    <li> SCMS: <a href="@project.uri">@project.uri</a></li>
    <li> Settings:
      <ul>
        <li> @setting(project.id, "syncMasterSha", settings.syncMasterSha)</li>
        <li> @setting(project.id, "tagMaster", settings.tagMaster)</li>
        <li> @setting(project.id, "setExpectedState", settings.setExpectedState)</li>
        <li> @setting(project.id, "buildDockerImage", settings.buildDockerImage)</li>
        <li> @setting(project.id, "scale", settings.scale)</li>
      </ul>
    </li>
  </ul>

  <h3>Change Events (<a href="@routes.EventsController.index(project_id = Some(project.id), event_type = Some(io.flow.delta.v0.models.EventType.Change))">View all</a>)</h3>
  @if(changeEvents.isEmpty) {
    <em>No changes</em>
  } else {
    @eventsTable(changeEvents)
  }

  <h3>Recent Events (<a href="@routes.EventsController.index(project_id = Some(project.id))">View all</a>)</h3>
  @if(changeEvents.isEmpty) {
    <em>No events in past 10 minutes</em>
  } else {
    <em>We show up to the 5 most recent events that were created in past 10 minutes</em>
    
    @eventsTable(recentEvents)
  }
  
}
