@(state: Option[io.flow.delta.v0.models.State])

@if(state.isEmpty) {
  -
} else {
  <div class="table-responsive">
    <table class="table">
      <tbody>
        @if(state.get.versions.isEmpty) {
          <tr>
            <td>-</td>
            <td>0 instances</td>
          </tr>
        } else {
          @state.get.versions.map { v =>
            <tr>
              <td>@v.name</td>
              <td>@io.flow.delta.lib.Text.pluralize(v.instances, "instance", "instances")</td>
            </tr>
          }
        }
        <tr>
          <td colspan="2"><em>Updated @io.flow.play.util.DateHelper.longDateTime(state.get.timestamp)</em></td>
        </tr>
      </tbody>
    </table>
  </div>
}

