@(
  data: io.flow.delta.www.lib.UiData,
  form: Form[controllers.OrganizationsController.UiForm],
  errorMessages: Seq[String] = Nil
)(implicit flash: Flash, messages: Messages)

@main(data.copy(title = Some("Add organization")), errorMessages = errorMessages) {
<section class="col-xs-12 px0">
  <div class="container">

    @helper.form(action = routes.OrganizationsController.postCreate()) {

      @organizationForm(form, routes.OrganizationsController.index(), id = None)

    }

  </div>
</section>
}
