@(form: Form[controllers.OrganizationsController.UiForm],
  cancelUrl: play.api.mvc.Call,
  id: Option[String]
)(implicit flash: Flash, messages: Messages)

<fieldset>

  <input type="hidden" name="return_url" value='@form("return_url").value'/>

    @if(id.isEmpty) {
      @helper.inputText(
          form("id"),
          '_label -> "Id",
          '_error -> form.error("id")
      )

    } else {    
      <input type="hidden" name="id" value='@id.get'/>
 
    }

    @helper.inputText(
        form("docker_organization"),
        '_label -> "Docker Hub Organization",
        '_error -> form.error("docker_organization")
    )

    @helper.inputText(
        form("travis_organization"),
        '_label -> "Travis Organization",
        '_error -> form.error("travis_organization")
    )
</fieldset>


<div class="actions">
  <button class="btn btn-large btn-primary" type="submit">Submit</button>
  <a href="@cancelUrl" class="btn">Cancel</a>
</div>
